<h1>Merritt - Ingest Workspace Service</h1>

<div id="body">
<div id="menu">
  <a href="/">Home</a> / <a href="/listing">Main Listing</a>
</div>
<br>
<div>
<form method="POST" action="/listing">
  <input type="submit" value="List"/>
</form>
</div>

<div id="batch">
  <h2>Batch Manifests</h2>
  <ul>
    <li><a href="<%= k[:url] %>"><%=k[:desc]%></a></li>
  </ul>
</div>


<div id="listing">
  <% if @listing.prefixes %>
  <h2>Directories</h2>
  <ul>
    <% @listing.prefixes.each do |k| %>
      <li><a href="<%= k[:url] %>"><%=k[:desc]%></a></li>
    <% end %>
  </ul>
  <% end %>

  <% if @listing.topobjlist %>
  <h2>Object List</h2>
  <ul>
    <% @listing.topobjlist.each do |k| %>
      <li><a href="<%= k[:url] %>"><%=k[:key]%></a></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div id="manifest">
<h2>Manifest</h2>
<textarea rows=15 cols=120><%=@listing.data.join("\n")%></textarea>
</div>
</div>