<h1>Merritt - Ingest Workspace Service</h1>

<div id="body">
<div id="menu">
  <a href="/">Home</a>
  <span> / <a href="/listing">Main Listing</a></span>
  <% unless @listing.parent.empty? %>
  <span> / <a href="/<%= @listing.parent %>/"><%= @listing.parent %></a></span>
  <% end %>
</div>
<br>

<div id="manifest">
  <% unless @listing.manifest_options.empty? %>
  <h2>Manifest Options</h2>
  <ul>
    <% @listing.manifest_options.each do |k| %>
    <li>
      <% if k.key?(:url) %>
      <a href="<%= k[:url] %>"><%=k[:desc]%></a>
      <% else %>
      <span><%=k[:desc]%></span>
      <% end %>
      <% if k.key?(:download) %>
      (<a href="<%= k[:download] %>">checkm</a>, <a href="<%= k[:yaml] %>">yaml</a>)
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div id="components">
  <% unless @listing.components.empty? %>
  <h2>Manifest Components</h2>
  <ul>
    <% @listing.components.each do |k| %>
    <li><a href="<%= k[:url] %>"><%=k[:desc]%></a></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div id="listing">
  <% unless @listing.prefixes.empty? %>
  <h2>Directories</h2>
  <ul>
    <% @listing.prefixes.each do |k| %>
      <li><a href="<%= k[:url] %>"><%=k[:desc]%></a></li>
    <% end %>
  </ul>
  <% end %>

  <% unless @listing.topobjlist.empty? %>
  <h2>Object List</h2>
  <ul>
    <% @listing.topobjlist.each do |k| %>
      <li><a href="<%= k[:url] %>"><%=k[:desc]%></a></li>
    <% end %>
  </ul>
  <% end %>
</div>
